body {
 background-color: #fff;
 background-image: url("https://imgur.com/R9ry6OU.png")
}
.Title {
 display: block;
 margin-left: auto; 
margin-right: auto;
 color: #fff;
  -webkit-text-stroke-width: 10px;
  -webkit-text-stroke-color: #000;
}
