body {
 background-image: url("https://imgur.com/R9ry6OU.png")
}
.h1 {
  color: #ffffff;
  text-shadow:
   -1px -1px 0 #000000,  
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
     1px 1px 0 #000000;
}
